#navigation-bar {
  display: flex;
  justify-content: space-between;
}

#main {
  display: flex;
  flex-wrap: wrap;
}

#right-side {
  align-self: center;
}

p {
  font-size: 2rem;
  color: green;
}

@media screen and (min-width: 961px) {
  #main {
    flex-wrap: nowrap;
  }
  p {
    font-size: 1rem;
    color: red;
  }
}
